*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
:root{
	--nav-background-color: #b6b6b612;
    --bg-color: ;
    --second-bg-color: ;
    --text-color: black ;
    --second-text-color: white ;
    --main-color: #61a3a0 ;
	--button-hover: #61a3a0c8 ;
	--button-color: #61a3a0 ;
    --bigfont: ;
    --h2-font: ;
    --p-font: ;
}
nav{
    position: fixed;
    z-index: -10;
    left:0;
    right: 0; 
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-background-color);
}
nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.logo a{
    left: 0;
    text-decoration: none;
    color: var(--button-color);
    transition: all .4s ease-in;
}
.logo a:hover{
    color: var(--button-hover);
}
nav .links{
    width: 60%;
    height: 100%;
    display: flex;
}

nav .links li{
    list-style: none;
    padding: 10px 20px;
}
nav .links li:hover{
    background: #61a3a028;
}
nav .links a{
    float: right;
    display: block;
    padding: 10px;
    font-weight: bold;
    color: var(--button-color);
    text-decoration: none;
    text-transform: capitalize;
    transition: all .4s ease-in-out;
    letter-spacing: 1px;
}
.links a:hover{
    color: var(--button-hover);
}
.links a.active{
    color: #00cec4;
}
#nav-toggle{
    position: relative;
    top: -100px;
}
nav .toggleBar{
    display: none;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    color: blue;
    cursor: pointer;
}
nav .toggleBar .bar{
    width: 25px;
    height: 3px;
    background: var(--button-color);
    margin: 5px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
@media (max-width: 940px) {
    nav{
        padding: 20px;
    }
    nav .logo{
      position: absolute;
    }
    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 53px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background: inherit;
        overflow: hidden;
        box-sizing: border-box;
        transition: all .4s ease-in;
        align-items: center;
    }
    nav .links li:hover{
    background: none;
}
    nav .links a{
        font-size: 16px;
        transition: all .4s ;
    }
    nav .links a:hover{
        color: var(--button-hover);
    }
    nav :checked ~ .links{
        bottom: 0;
    }
    nav .toggleBar{
        display: block;
    }
    nav :checked ~ .toggleBar .bar:nth-child(1){
        transform: translateY(8px) rotate(50deg);
    }
    nav :checked ~ .toggleBar .bar:nth-child(2){
        opacity: 0;
    }
    nav :checked ~ .toggleBar .bar:nth-child(3){
        transform: translateY(-8px) rotate(-50deg);
    }
}