@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Black+Ops+One&family=Playfair+Display&display=swap');
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
:root{
	--nav-background-color: #00396E;
    --bg-color: ;
    --second-bg-color: ;
    --text-color: #242121 ;
    --second-text-color: white ;
    --main-color: #61a3a0 ;
	--button-hover: #ffffff86 ;
	--button-color: #ffffff ;
    --bigfont: ;
    --h2-font: ;
    --p-font: ;
}
::selection {
    background-color: var(--nav-background-color);
    color: #ffffff;
  }
nav{
    position: fixed;
    background: var(--nav-background-color);
    z-index: 100;
    left:0;
    right: 0; 
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    border-bottom: 1px solid var(--button-color);
}
nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 25px;
}
.logo a{
    left: 0;
    text-decoration: none;
    color: var(--button-color);
    font-weight: bold;
    letter-spacing: 1px;
    transition: all .4s ease-in;
}

nav .links{
    width: 60%;
    height: 100%;
    display: flex;
}
nav .links li{
    list-style: none;
    padding: 10px 25px;
    transition: all .4s ease-in-out;
    border-radius: 50px;
}
nav .links a{
    float: right;
    display: block;
    font-weight: bold;
    color: var(--button-color);
    text-decoration: none;
    letter-spacing: .2em;
    transition: all .4s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    font-size: .7em;
}
nav .links i{
    font-size: 16px;
    padding: 0 0 5px 0;
}

nav .links li:hover{
    background: #afafaf64;

}
/* .links li.active{
    background: #ffffffa4;
} */
#nav-toggle{
    position: relative;
    top: -100px;
}
nav .toggleBar{
    display: none;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    cursor: pointer;
}
nav .toggleBar .bar{
    width: 25px;
    height: 3px;
    background: var(--button-color);
    margin: 5px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--button-color);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--nav-background-color);
    cursor: pointer;
  }
  nav.sticky {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--nav-background-color);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  }
  nav.sticky a{
    color: var(--nav-background-color);
  }
  nav.sticky .bar{
    background: var(--nav-background-color);
  }
@media (min-width: 941px) {
    .index-section{
        background: #dfdfdf77;
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        width: 100%;
        align-items: center;
        padding: 80px 10%;
    }
    .index-section h1{
        font-size: 2rem;    
        display: flex;
    }
    .index-section p{
        font-size: 1.2rem;
    }
    .index-div{
        padding: 0 10% 0 0;
    }
    .index-section .effect{
        padding: 0 10px;
    }
    .portfolioContainers .leftContainer, .portfolioContainers .midContainer, .portfolioContainers .rightContainer{
        width: 100%;
    }
    .Portfolio{
        /* height: 100vh; */
    }
    .LanguageContainers div{
        width: 100%;
    }
}
@media (max-width: 940px) {
    nav{
        padding: 20px;
    }
    nav .logo{
      position: absolute;
    }
    nav .logo a{
      font-size: 18px;
    }
    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 54px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background: var(--nav-background-color);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .4s ease-in;
        align-items: center;
    }
    nav .links li{
        border-bottom: 1px solid var(--button-color);
}
nav .links li:hover{
        background: #b6b2b264;;
}
nav.sticky .links li{
    border-bottom: 1px solid var(--nav-background-color);
  }
nav.sticky .links{
   background: inherit;
  }
    nav .links a{
        font-size: 10px;
        transition: all .4s ;
    }
    nav .links a i{
        display: none;
    }
    nav :checked ~ .links{
        bottom: 0;
    }
    nav .toggleBar{
        display: block;
    }
    nav :checked ~ .toggleBar .bar:nth-child(1){
        transform: translateY(8px) rotate(50deg);
    }
    nav :checked ~ .toggleBar .bar:nth-child(2){
        opacity: 0;
    }
    nav :checked ~ .toggleBar .bar:nth-child(3){
        transform: translateY(-8px) rotate(-50deg);
    }
    .index-section{
        display: inline-grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: auto;
        height: 100vh;
        width: 100%;
        align-items: center;
        background: #dfdfdfa3;
        justify-content: space-around;
        padding: 80px 10%;
        text-align: center;
       
    }
    .index-section{
        background-image: none;
    }
    .buttons{
        text-align: center;
        
    }
    .index-div{
        grid-row: 2;
    }
    .image-div{
        grid-row: 1;
        margin: 0 0 -50% 0;
    }
    .index-section h1{
        font-size: 1.2rem;
        text-align: center;
    }
    .index-section p{
        font-size: .9rem;
    }
    .image{
        width: 100%;
    }
    .buttons{
        margin: 10px;
    }
    .services{
        height: 100vh;
    }
}
@media (max-width:768) {
    .index-div{
        margin: 0 0 100% 0;
    }
    .index-section p{
        font-size: 1.2rem;
    }
}
@media (max-width:414px) {
    .buttons{
        display: flex;
    }
}
@media (max-width:360px) {
    .buttons{
        display: flex;
    }
    .index-section{
        text-align: center;
    }
}
@media (max-width:375px) {
    .buttons{
        display: flex;
    }
    .index-section{
        text-align: center;
    }
    .image-div{
        grid-row: 1;
        margin: auto;
        
    }
}
@media (max-width:320px) {
    .buttons{
        display: flex;
    }
    .index-section{
        text-align: center;
    }
    .image-div{
        grid-row: 1;
        margin: 0 0 -100% 0;
        
    }
}
.index-section{
    background-image: url(imgs/bubble-png-transparent-bubble-images-pluspng-21.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.index-section h1, .index-section p{
    color: var(--text-color);
}
.index-section h1 span, p span{
    color: var(--nav-background-color);
}
.image{
    width: 100%;
}
.btn{
    padding: 7px;
    margin: 10px 2px 0 2px;
    width: 150px;
    font-size: 1rem;
    font-weight:bold;
    border: 3px solid var(--nav-background-color);
    color: var(--button-color);
    background: var(--nav-background-color);
    border-radius: 15px;
    transition: all .4s ease-in;
    cursor: pointer;
    letter-spacing: 1px;
}
.btn:hover{
    background-color:inherit;
    color: var(--nav-background-color); 
}

/* Pop up container */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.popup-content{
    background-color:#ffffff;
    border: 1px solid var(--nav-background-color);
    transition: all .4s ease-in-out;
    border-radius: 10px;
    padding: 20px;
}
.popup-content .bar{
    width: 25px;
    height: 3px;
    background: var(--nav-background-color);
    margin: 5px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.popup-content .bar:nth-child(1){
    transform: translateY(8px) rotate(50deg);
}
.popup-content .bar:nth-child(2){
    opacity: 0;
}
.popup-content .bar:nth-child(3){
    transform: translateY(-8px) rotate(-50deg);
}
.popup-content h2{
    color: var(--nav-background-color);
    padding: 20px;
}
form {
    width: 250px;
    
}
.input, .textarea, .button {
    display: block;
    text-align: center;
    background: #c6c6c6;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--nav-background-color);
}
.button {
    padding: 10px 7px;
    margin: 10px 2px 0 2px;
    font-size: 15px;
    font-weight:bold;
    border: 3px solid var(--nav-background-color);
    color: var(--button-color);
    background: var(--nav-background-color);
    border-radius: 50px;
    transition: all .4s ease-in;
    cursor: pointer;
    letter-spacing: 1px; 
}
.button:hover{
    background-color:inherit;
    color: var(--nav-background-color)
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.popup-content{
    background-color:#ffffff;
    border: 1px solid var(--nav-background-color);
    transition: all .4s ease-in-out;
    border-radius: 10px;
    padding: 20px;
}
.popup-content .bar{
    width: 25px;
    height: 3px;
    background: var(--nav-background-color);
    margin: 5px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.popup-content .bar:nth-child(1){
    transform: translateY(8px) rotate(50deg);
}
.popup-content .bar:nth-child(2){
    opacity: 0;
}
.popup-content .bar:nth-child(3){
    transform: translateY(-8px) rotate(-50deg);
}
.popup-content h2{
    color: var(--nav-background-color);
    padding: 20px;
}
form {
    width: 350px;
    
}
.input, .textarea, .button {
    display: block;
    background: #c6c6c6;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--nav-background-color);
    border-radius: 10px;
    text-align: start;
}
.button {
    padding: 10px 7px;
    margin: 10px 2px 0 2px;
    font-size: 15px;
    font-weight:bold;
    border: 3px solid var(--nav-background-color);
    color: var(--button-color);
    background: var(--nav-background-color);
    border-radius: 10px;
    transition: all .4s ease-in;
    cursor: pointer;
    letter-spacing: 1px; 
    text-align: center;
}
.button:hover{
    background-color:inherit;
    color: var(--nav-background-color)
}
.services{
    text-align: center;
    background: #fff;
    /* align-items: center; */
    padding: 15px 10%;
    /* height: 100vh; */
}

.services h3{
    padding: 0 0 5px 0;
}

.services .sevContainer{
    /* justify-content: space-around; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: repeat(2, 50%); 
    padding: 50px 0;
}
.services .sevContainer p, .sevContainer h3{
    /* justify-content: space-around; */
    /* align-items: center; */
    text-align: left;
}

.services .myServicesImage img{
    width: 75%;
    border-radius: 5%;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
    transition: all .4s ease-in-out;
}
.services .myServicesImage img:hover{
    box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.5);
}
.services h1, .services h3 a{
    color: var(--nav-background-color);
    
    /* padding: 0 2rem 0 0; */
    /* text-decoration: underline; */
}
.services h1{
    padding: 55px 0 0 0;
}
/* .myServicesText{
    padding: 25px 0;
}
.service-header{
    display: flex;
}
.service-header a{
    text-decoration: none;
    transition: all .4s ease-in-out;
    cursor: pointer;
}
.service-header a:hover{
    color: var(--nav-background-color);
}
.revealText2{
    display: none;
}
.revealText3{
    display: none;
} */

.myServicesText {
    transition: all .4s ease-in-out;
    padding: 0 0 0 100px;
}

.service-header {
    display: flex;
    justify-content: space-between;
}
.service-header h3{
    /* border: 2px solid #00396E; */
    /* border-radius: 10px; */
    margin: 0 9px 9px 0;
}
.service-header h3:hover{
    /* border-radius: 10px; */
    margin: 0 9px 9px 0;
}

.service-header a {
    text-decoration: none;
    transition: all .4s ease-in-out;
    cursor: pointer;
    /* border-bottom: 2px solid #5DC3F4; */
}
.service-header a.active {
    border-bottom: 2px solid #5DC3F4;
}
#revealText1{
    display: block;
}
.revealText {
    display: none;
}
@media (max-width: 940px) {
    .services .sevContainer{
        /* display: grid;
        grid-template-columns: repeat(1, 90%); */
        display: flex;
        flex-direction: column;
        
    }
    .myServicesText {
        transition: all .4s ease-in-out;
        padding: 0 0;
    }
    .services{
        /* display: grid;
        grid-template-columns: repeat(1, 90%); */
        height: auto;
    }
    .service-header h3{
        font-size: auto;
        padding: 20px 0 0 0;
    }

.portfolioContainers, .LanguageContainers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolioContainers .leftContainer, .portfolioContainers .midContainer, .portfolioContainers .rightContainer{
    width: 100%;
}
.LanguageContainers .firstContainer, .LanguageContainers .secondContainer, .LanguageContainers .thirdContainer, .LanguageContainers .fourthContainer{
    width: 100%;
}
    
}
.Portfolio{
    padding: 0 10%;
    background: #dfdfdfa3;
    /* display: grid; */
    text-align: center;
    /* height: 100vh; */
    background-image: url(imgs/bubble-png-transparent-bubble-images-pluspng-21.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    /* grid-template-columns: repeat(3, auto); */
}
.Portfolio h1{
    padding: 65px 0 0 0 ;
    color: #00396E;
    text-align: left;
}
.Portfolio h3{
    color: #00396E;
}
.Languages h1{
    padding: 20px;
}
.portfolioContainers{
    display: flex;
    align-items: center;
}
.portfolioContainers .leftContainer, .portfolioContainers .midContainer, .portfolioContainers .rightContainer{
    background: #fff;
    /* min-width: 200px; */
    /* box-shadow: 5px 10px 10px #00000029; */
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
    /* height: 200px; */
    margin: 20px;
    transition: all .4s ease-in-out;
    border: 1px solid #00396E;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
}
.leftContainer:hover, .midContainer:hover, .rightContainer:hover{
    /* transform: scale(1.1); */
    border: 1px solid #5DC3F4;
    /* box-shadow: 10px 10px 10px #00396E; */
    box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.5);
}
.typed-cursor{
    display: none;
}
.LanguageContainers{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.LanguageContainers .firstContainer, .LanguageContainers .secondContainer, .LanguageContainers .thirdContainer, .LanguageContainers .fourthContainer{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    background: #ffffff;
    margin: 1%;
    border: 1px solid #00396E;
    padding: 10px;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
}
.Languages img{
    width: 2rem;
    color: #00396E;
}
.progress-bar-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 1px solid #5DC3F4;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    height: 20px;
    background-color: #5DC3F4; 
    transition: width 0.5s ease; 
    text-align: center;
}
#scalePercentage1{
    text-align: center;
}
